{
    "extends": ["airbnb", "prettier", "plugin:jest/recommended"],
    "env": {
        "node": true,
        "jasmine": true,
        "jest": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "plugins": ["markdown", "babel", "jest"],
    "rules": {
        "plugins": ["prettier"],
        "rules": {
            "prettier/prettier": "error"
        }
    }
}
